asn1crypto==0.24.0
certifi==2018.8.24
chardet==3.0.4
cryptography==2.6.1
Deprecated==1.2.3
entrypoints==0.3
httplib2==0.11.3
idna==2.6
keyring==17.1.1
keyrings.alt==3.1.1
packaging==21.3
panoramisk==1.5.dev0
py-spy==0.3.11
pycrypto==2.6.1
pycurl==7.43.0.2
PyGObject==3.30.4
PyMySQL==0.9.3
pyodbc==4.0.32
pyparsing==3.0.6
PySimpleSOAP==1.16.2
python-apt==1.8.4.3
python-debian==0.1.35
python-debianbts==2.8.2
pyxdg==0.25
redis @ git+https://github.com/andymccurdy/redis-py.git@11b14630a6845c28acfd4220b72ed62d72913305
reportbug===7.5.3-deb10u1
requests==2.21.0
SecretStorage==2.3.1
six==1.12.0
urllib3==1.24.1
websockets==10.1
wrapt==1.13.3
